* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
h1 {
  text-align: center;
  padding: 5px;
}
table,
td,
th {
  border: 2px solid grey;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
}

.container {
  max-width: 700px;
  margin: 10px auto;
  overflow: auto;
  min-height: 400px;
  padding: 10px;
}
